.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html, body {
  height:100%;
}
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #cedce7; /* Old browsers */
  background: -moz-linear-gradient(top,  #cedce7 0%, #596a72 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cedce7 0%,#596a72 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #cedce7 0%,#596a72 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    /*padding-bottom: 19px;*/
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

.header-left {
  margin-right: 40px;
}

.scoreboard {
  margin-top: 15px;
}

.instructions {
  max-width: 230px;
}

.instructions * {
  margin: 0;
}


.player-list {
  list-style: none;
  padding: 0;
}

.player-list li {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  width: 50%;
}

.player-list li img {
  max-width: 100%;
}

#thisUser,
[data-role="externalUser"] {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

#thisUser h1,
[data-role="externalUser"] h1 {
  color: white;
  margin-top: 0;
}
#thisUser > div,
[data-role="externalUser"] > div {
  display: none;
}

#thisUser.rock,
[data-role="externalUser"].rock {
  background: red;
}
#thisUser.rock .rock,
[data-role="externalUser"].rock .rock {
  display: block;
}

#thisUser.paper,
[data-role="externalUser"].paper {
  background: green;
}
#thisUser.paper .paper,
[data-role="externalUser"].paper .paper {
  display: block;
}

#thisUser.scissors,
[data-role="externalUser"].scissors {
    background: blue;
}
#thisUser.scissors .scissors,
[data-role="externalUser"].scissors .scissors {
  display: block;
}

#thisUser h1,
[data-role="externalUser"] h1 {
  font-size: 18px;
  margin-top: 0;
}

[data-role="externalUser"] h1 {
  font-size: 9px;
}


.flip-clock-divider.hours,
.flip-clock-divider.hours + .flip,
.flip-clock-divider.hours + .flip + .flip,
.flip-clock-divider.minutes,
.flip-clock-divider.minutes + .flip,
.flip-clock-divider.minutes + .flip + .flip,
.flip-clock-divider.seconds {
  display: none;
}
/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
